@page "/"

@inject HttpClient Http

<PageTitle>StartSeite</PageTitle>

<h1>Auflistung</h1>

@if (_presentations == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>FromDate</th>
            <th>ToDate</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presentation in _presentations)
        {
            <tr>
                <td>@presentation.Name</td>
                <td>@presentation.FromDate.ToShortDateString()</td>
                <td>@presentation.ToDate.ToShortDateString()</td>
                <td>@presentation.Location</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private List<Presentation>? _presentations;

    protected override async Task OnInitializedAsync()
    {
        _presentations = await Http.GetFromJsonAsync<List<Presentation>>("api/presentation");
    }
}