@page "/put"
@rendermode InteractiveServer
@inject HttpClient Http

<PageTitle>Unterseite</PageTitle>

<h1>Anlegung</h1>

@if(_isError){
    <p>Die Presentation gibt es bereits</p>
}else{
    <p></p>
}

<EditForm Model="@_presentationModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="_presentationModel.Name" class="form-control" />
    </div>

    <div>
        <label>Von Datum:</label>
        <InputDate @bind-Value="_presentationModel.FromDate" class="form-control" />
    </div>

    <div>
        <label>Bis Datum:</label>
        <InputDate @bind-Value="_presentationModel.ToDate" class="form-control" />
    </div>

    <div>
        <label>Ort:</label>
        <InputText @bind-Value="_presentationModel.Location" class="form-control" />
    </div>

    <p style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Absenden</button>
    </p>
</EditForm>

@code {
    private Presentation _presentationModel = new Presentation();
    private bool _isError;
    private async Task HandleValidSubmit()
    {
        var formattedFromDate = _presentationModel.FromDate.ToString("yyyy-MM-dd");
        var formattedToDate = _presentationModel.ToDate.ToString("yyyy-MM-dd");

        var response = await Http.PostAsJsonAsync("api/presentation", new
        {
            _presentationModel.Name,
            FromDate = formattedFromDate,
            ToDate = formattedToDate,
            _presentationModel.Location
        });
        
        
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Daten erfolgreich versendet!");
            _presentationModel = new Presentation();
            _isError = false;
        }
        else
        {
            _isError = true;
            Console.WriteLine("Fehler beim Senden der Daten.");
        }
    }
}